data/guth_pump_registry.db
.vs/
/boms/bom_checklist_5101 002 - 25.pdf
/boms/bom_checklist_6101 005 - 25.pdf
/data/guth_pump_registry.db
/logs/guth_pump_registry.log
/GuthPumpRegistry.pyproj
/confirmations
/certificates
/docs
/bom_print.txt
/logs
